@model IEnumerable<MovieRental.Models.Movie>
@{
    ViewBag.Title = "Index";
}

<style>
   button a {
        text-decoration: none;
        color: white;
         font-weight: bold;
    }

     button a:hover {
        text-decoration: none;
        color: white;
        font-weight: bold;
    }
</style>
<h2>Movies</h2>



<button class="btn btn-primary text-uppercase">@Html.ActionLink("New Movie", "MovieForm", "Movie")</button>

@if (!Model.Any())
{
    <p>We Dont Have Any Movie Yet.!</p>
}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Movie Name</th>
            <th>Genre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movies in Model)
        {
            <tr>
                <td>@Html.ActionLink(@movies.Name, "Edit", "Movie", new { id = movies.Id }, null) </td>
                <td>@movies.Genre.Name</td>
            </tr>
        }
    </tbody>
</table>